# name: ETL pipeline
# on:
#     push:
#         branches:
#             master
# jobs:
#     extract_data:
#         runs-on: ubuntu-latest
#         steps:
#             - name: checkout code
#               uses: actions/checkout@v2
#             - name: setup python
#               uses: actions/setup-python@v4
#               with:
#                 python-version: '3.10'
#             - name: print python version
#               run: python --version
#             - name: run extract.py
#               run: python extract.py

#     transform_data:
#         runs-on: ubuntu-latest
#         needs: extract_data
#         steps:
#             - name: checkout code
#               uses: actions/checkout@v2
#             - name: run transform.py
#               run: python transform.py

#     load_data:
#         runs-on: ubuntu-latest
#         needs: transform_data
#         steps:
#             - name: checkout code
#               uses: actions/checkout@v2
#             - name: run load.py
#               run: python load.py

# name: pandas pipeline
# on:
#     push:
#         branches:
#             master
# jobs: 
#     pandas_data_extract:
#         runs-on: ubuntu-latest
#         steps:
#             - name: checkout code
#               uses: actions/checkout@v2
#             - name: install required dependencies
#               run: pip install -r requirements.txt
#             - name: run pandas.py
#               run: python pandas_data.py

name: Data quality
on:
    push:
        branches: 
            master
jobs: 
    install_python_with_dependencies:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: python setup
              uses: actions/setup-python@v4
              with:
                    python-version: '3.10'
            - name: print python version
              run: python --version
            - name: install dependencies
              run: pip install -r requirements.txt
    run_test_calculator_with_pytest:
        runs-on: ubuntu-latest
        needs: install_python_with_dependencies
        steps:
            - name: run test_calculator.py
              run: pytest --cov=calculator --cov-report=term