name: ETL pipeline
on:
    push:
        branches:
            master
jobs:
    extract_data:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: setup python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'
            - name: print python version
              run: python --version
            - name: run extract.py
              run: python extract.py

    transform_data:
        runs-on: ubuntu-latest
        needs: extract_data
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: run transform.py
              run: python transform.py

    load_data:
        runs-on: ubuntu-latest
        needs: transform_data
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: run load.py
              run: python load.py