name: ETL pipeline
on:
    push:
        branches:
            master
jobs:
    extract_data:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: run extract.py
              uses: python extract.py

    transform_data:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: run transform.py
              uses: python transform.py

    load_data:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v2
            - name: run load.py
              uses: python load.py